MANITY = {
  'HEWORDS' : [
    'manity',
    'punching',
    'testosterone',
    'jet fighters',
    'bacon',
    'bbq',
    'beer',
    'explosion',
    'old spice',
    'chopping wood',
    'mantage',
    'guitars',
    'weightlifting',
    'barbecue',
    'steak',
    'curry',
    'hammer',
    'pipewrench',
    'whisky',
    'whiskey',
    'beard',
    'mustache',
    'lumberjack',
    'james bond',
    'secret agent',
    'squinting',
    'blacksmith',
    'cigar',
    'transformers',
    'fire',
    'bullfight',
    'rockets',
    'lego',
    'dynamite'
  ],
  
  'flickrApiKey' : '01234567890abcdef01234567890abcd'
};
