/*

            .                                   _
         .-/ \                                 / =-.
     _.-~ /   \___  ______ __  _    _     _   /___| ~-._
     \ /  -~||  __||_  __//  || |  | |  /| | / __/| .\ /
      / . . ||  __| | |\ / ' || |__| |_/ | || (_/ |   \
     / / ~| ||____| |_| /_/|_||____|____||_| \___\| |\ \
    / /   |-~\    \ \ \ | || ||    |    // / /   /~-| \ \
   / /__ / \  \____\|\_\|_/|_||____|___//_/\/___/  / __\ \
  /  .-~\   \-~                                 ~-/\/~-.  \
 /.-~    \                                         /    ~-.\
/~      .-                                         -.      ~\
\    .-~                                             ~-.    /
 \.-~                                                   ~-./  DrS


*/

@font-face {
  font-family: 'ChunkFive';
  src: url('Chunkfive.eot');
  src: local('ChunkFive'), 
         url('Chunkfive.otf') format('opentype');
}
@font-face {
  font-family: 'League Gothic';
  src: url('LeagueGothic.eot');
  src: local('League Gothic'), 
         url('LeagueGothic.otf') format('opentype');
}
body {
  background-color: #050505;
  font-family: 'League Gothic', Helvetica, Arial, sans-serif;
  font-size: normal;
  color: #ed1a07;
  letter-spacing: 0.06em;
}

.ENERGYLEGS {
  color: #ed1a07;
}
.BACON {
  color: #794752;
}
.JETFIGHTERS {
  color: #8d97af;
}
.PUNCHING {
  color: #a3693b
}

#FOOTBALL {
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-family: ChunkFive, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
  letter-spacing: 0.15em;
  margin: 15px 0 0 15px;
  padding: 0;
}
h2 {
  color: #999999;
  font-weight: normal;
  margin: 0 0 0 35px;
  padding: 0;
  font-size: 1.2em;
}
#BEER {
  position: absolute;
  top: 0;
  right: 0;
}
#BEER .IS-GREAT {
  text-align: right;
  color: #999999;
  font-weight: normal;
  margin: 25px 15px 0 0;
  padding: 0;
  font-size: 1.2em;
}
#MANTAGE {
  height: 510px;
  width: 100%;
  position: absolute;
  top: 6em;
  left: 0;
  overflow: hidden;
  padding: 4px 0 8px;
}
.PINT {
  width: 3300px;
  padding: 4px 0;
}
.BBQ {
  height: 55px;
  width: 300px;
  margin: 0 8px 0 0;
  padding: 3px;
  background-color: #414141;
  float: left;
  background-position: center;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(39, 39, 39, 1)), to(rgba(65, 65, 65, 1)));
  background-image: -moz-linear-gradient(rgba(39, 39, 39, 1) 0%, rgba(65, 65, 65, 1) 100%);
  overflow: hidden;
}
.BBQ.heword {
  font-size: 4em;
  padding: 8px 3px 3px 8px;
}
.OLD-SPICE {
  clear: left;
}